@model ProjetAspMvc.Models.Categorie

@{
    ViewBag.Title = "Index";
}
<script>
    function url_content(url) {
        return $.get(url);
    }
    var ROOT = '@Url.Content("~")';
    $(function () {
        $("#CatSelect").change(function () {
            $.get("/Categories/getProduct", { id: $("#CatSelect").val() }, function (data) {
                $("#Contenu").empty();
                $.each(data, function (index, ligne) {
                    var mystring = (ligne.photo).replace('~/', '');
                    $("#mytable > tbody:last-child").append('<tr><td> ' + ligne.Designation + '</td><td>' + ligne.PrixU + '</td><td> <img src="' + ROOT + mystring + ' " width="50" /></td><td> <a href="@Url.Action("Details", "Articles")?id=' + ligne.NumArticle + '">Details</a></td ></tr> ')
                });
            })
        });
    });
</script>
<h2>Consulter les Catalogues</h2>

Choisir une Categorie : @Html.DropDownListFor(x => x.refcat, ViewBag.e as SelectList, "Choisir une categorie", new { id = "CatSelect" })
<br /><br />
<table class="table" id="mytable">

    <tr>
        <th>
           Designation
        </th>
        <th>
            PrixUnitaire en DH
        </th>
        <th>
            photo de produit
        </th>
        <th>
            Details
        </th>
    </tr>
  
    <tbody  id="Contenu">


    </tbody>

</table>
