<style>
    input[type="text"], select {
        width: 250px;
    }

    a:link, a:active, a:visited, a:hover {
        text-decoration: none;
        color: black;
    }
    /*--- DROPDOWN ---*/
    #nav ul {
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
</style>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
    var textbox;
    var selectValue;

    $(function () {
        textbox = $("#txtCountrty");
        selectValue = $('ul#selectedValue');

        textbox.on("input", function () {
            getAutoComplete(textbox.val());
        });
    });
    function getAutoComplete(key) {
        var uri = "/Account/GetCountry";
        $.getJSON(uri, { key: key })
       .done(function (data) {
           selectValue.html("");
           var count = 0;
           $.each(data, function (key, item) {
               //$('<option>').text(item).appendTo('#selectedValue');
               var li = $('<li/>').addClass('ui-menu-item').attr('role', 'menuitem').html("<a href='#' onclick=\"setText('" + item.Nom + "','" + item.Prenom + "','" + item.Email + "','" + item.Ville + "','" + item.Telephone + "','" + item.Id + "')\">" + item.Nom + "</a>").appendTo(selectValue);

               count++;
           });
       });
    }
    function setText(item1, item2, item3, item4, item5, item6) {
        textbox.val(item1);
        getAutoComplete(item1);
        $("ul#selectedValue").empty();
        $("#mytable > tbody:last-child").empty();
        $("#mytable > tbody:last-child").append('<tr><td> ' + item1 + '</td><td>' + item2+ '</td><td>' + item3 + '</td><td>' + item4 + '</td><td>' + item5 +'</td><td> <a href="@Url.Action("Delete", "Account")?id=' + item6 + '">Delete</a></td ></tr> ')



    }

</script>

<h2>Chercher un client :</h2>

<div id="nav">
    <input type="text" id="txtCountrty" />
    <ul id="selectedValue"></ul>
    <br><br />


    <table class="table" id="mytable">

        <tr>

            <th>
                Nom
            </th>
            <th>
                Prenom
            </th>
            <th>
                Email
            </th>
            <th>
                Adresse
            </th>
            <th>
                Ville
            </th>
            <th>
                Telephone
            </th>
            <th>

            </th>
        </tr>

        <tbody id="Contenu"></tbody>

    </table>
</div>