@model ProjetAspMvc.Models.Categorie
@{
    ViewBag.Title = "Index";
}
<script>
    $(function () {
        $("#CatSelect").change(function () {
            $.get("/Articles/getArticle", { id: $("#CatSelect").val() }, function (data) {
                $("#Contenu").empty();
                $.each(data, function (index, ligne) {
                    $("#Contenu").append('<option value=' + ligne.NumArticle + '>' + ligne.Designation + '</option> ')
                });
            })
        });
    });
    $(function () {
        $("#Contenu").change(function () {
            $.get("/Articles/getStock", { id: $("#Contenu").val() }, function (data) {
                $.each(data, function (index, ligne) {
                    $("#Stock").val(ligne.stock);
                });
            })
        });
    });
    function validateForm() {
        var c = document.getElementById("Stock").value;
        if (document.getElementById("QteArticle").value > c) {
            alert("vous avez depacer le stock");
            return false;
        }
        else return true;
    }
    
</script>
<h2>Lancer une Commandes</h2><br /><br />
@Html.BeginForm("Create","Commandes",FormMethod.Post, new {onsubmit = "return validateForm()" })
{
Choisir une Categorie : @Html.DropDownListFor(x => x.refcat, ViewBag.e as SelectList, "Choisir une categorie", new { id = "CatSelect" })
<br /><br />Choisir un Article<select id="Contenu" name="NumArticle"></select>
<br /><br />Stock : <input type="number" id="Stock" disabled/>
<br /><br />Quantite : <input type="number" name="QteArticle" id="QteArticle" />
<br /><br /><input type="submit" value="Commander" />
}
