@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="westeros-dropdown-container">
            <p class="login logged">
                <!-- SVG LOGGED -->
                <svg class="svg-logged">
                    <use xlink:href="#svg-logged"></use>
                </svg>
                <!-- /SVG LOGGED -->
                @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <!-- SVG ARROW -->
                <svg class="svg-arrow westeros-dropdown-control">
                    <use xlink:href="#svg-arrow"></use>
                </svg>
                <!-- /SVG ARROW -->
                <ul class="westeros-dropdown default hide-on-click">
                    <li>
                            <!-- SVG GEAR -->
                            <svg class="svg-gear">
                                <use xlink:href="#svg-gear"></use>
                            </svg>
                            <!-- /SVG GEAR -->
                            <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
                    </li>
                </ul> 
            </p>
        </div>
            }
            }
            else
            {
            <p class="login">
                Bienvenue visiteur, si vous avez un compte
                @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }), ou
                @Html.ActionLink("S’inscrire maintenant", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </p>
            }
